
@font-face {
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Medium'),
    url('../fonts/SFMono/SFMonoMedium.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono';
    font-style: italic;
    font-weight: normal;
    src: local('SF Mono Medium Italic'),
    url('../fonts/SFMono/SFMonoMediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: bold;
    src: local('SF Mono Bold'),
    url('../fonts/SFMono/SFMonoBold.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono';
    font-style: italic;
    font-weight: bold;
    src: local('SF Mono Bold Italic'),
    url('../fonts/SFMono/SFMonoBoldItalic.woff') format('woff');
}
